.dashboard {
    width: 1200px;
    height: 730px;
    background-color: grey;
    font-family: Arial, sans-serif;
}

.profile-icon-block {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
}

.dashb-hdr-blck {
    width: 1200px;
    height: 100px;
    padding: 15px 0 15px 0;
    background-color: rgb(92, 91, 91);
    display: flex;
    justify-content: space-between;
}

.dashb-hdr-profile-block {
    display: flex;
    background-color: aqua;
    padding: 10px 15px;
    margin-left: 10px;
}

.profile-option-block {
    display: flex;
}

.profile-option-block-text {
    padding-right: 20px;
    color: rgb(58, 57, 57);
    font-weight: bold;
}

.viewport-option-block {
    font-size: 23px;
    font-weight: bold;
}

.profile-content-block {
    margin-left: 15px;
}

.dashb-hdr-fnc-block {
    background-color: brown;
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashb-hdr-fnc-blck-buttons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: bisque;
}

.dashb-hdr-fnc-type-selector {
    margin: 0 20px 0 20px;
}

.search-bar {
    margin: 0 ;
    height: 25px;
    border-radius: 15px;
    border: 1.5px grey solid;
}

.button-blk {
    display: flex;
    gap: 15px;
}

.dashb-cnt-blck {
    display: flex;
}

.viewport-blk {
    margin: 5px 10px;
    width: 49%;
    height: 580px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
}

.l-p-hdr {
    /* background-color: red; */
    padding: 7px 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid grey;
}

.new-task-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(57, 130, 226);
    color: white;
    font-weight: bold;
    display: inline-block;
}

.task-list-lg {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
}

/**************************************/
.task-list-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-info-blk {
    display: flex;
    align-items: center;
}

.task-title-txt {
    margin: 0;
}

.tag-txt {
    margin: 0 5px;
    background-color: aquamarine;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.task-list-lg-title-blk {
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

.task-list-chk-mark {
    color: rgb(73, 73, 73);
}
.task-dd-txt {
    margin: 0 5px 0 10px;
}

.task-list-lg:hover {
    background-color: rgb(220, 220, 247);
}

.l-p-ctnt-filter-bar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap:10px;
    height: 40px;
}

.l-p-ctnt-filter-bar > p {
    margin: 0;
    font-weight: bold;
}
/**************************************/



/********************************************************************/


.r-p-hdr {
    display: flex;
    padding: 15px 15px;
    justify-content: space-between;
}

.complete-btn-box {
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
}

.complete-btn-box > p {
    margin: 0;
}

.r-p-hdr-button-box {
    padding: 5px 10px;
    color: grey;
}

.r-p-hdr-button {
    margin-left: 20px;
}

.r-p-task-detail-type-bar {
    color: rgb(82, 82, 82);
    padding: 10px 15px;
    background-color: rgb(231, 230, 230);
}

.task-detail-info-blk {
    display: flex;
}

.task-detail-info-blk > p {
    margin: 6px 0;
    color: rgb(82, 82, 82);
    font-weight: bold;
    font-size: 18px;
}

.task-detail-info-blk > p:first-child {
    margin-left: 20px;
    width: 150px;
}

.task-detail-info-blk > p:nth-child(2) {
    color: black;
}
/********************************************************************/

.task-comment-input-box {
    width: 100%;
    height: 200px;
    /* background-color: ; */
}

.r-p-task-detail-content-main {
    overflow-y: auto;
    background-color: azure;
    height: 300px;
}


.task-comment-bx {
    background-color: rgb(250, 250, 250);
    margin: 30px 40px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(221, 220, 220);
    display: flex;
}

.cmnt-ctnt-blk {
    padding-left: 30px;
}

.cmnt-profile-blk {
    margin-top: 15px;
}

.task-comment-input-box-main {
    /* background-color: blueviolet; */
    padding: 20px 30px;
    display: flex;
    height: 150px;
}

.cmnt-input-bx {
    width: 90%;
    margin: 0 30px;
}

.task-detail-title-txt {
    margin: 20px 20px;
}